footer{
	background-color: rgb(201, 231, 221);
	width:72em ;
	height:24em ;
	display: flex;

}


.first{
	margin: 2.2em;
	padding: 1.5em;


}
.first > p:hover{
	text-decoration: underline;
}
.second{
	margin: 2.2em;
	padding: 1.5em;

}
.second > p:hover{
	text-decoration: underline;
}
.third{
	margin: 2.2em;
	padding: 1.5em;
}
.third > p:hover{
	text-decoration: underline;
}




.chatt{
	background-color: rgb(223, 61, 61);
	color: white;
	width: 7em;
	height: 2.5em;
	border: 2px solid white;
	border-radius: 12px;
	position: fixed;
	margin-right: 20em;
	text-align: center;
	margin-top: 17em;
	
	
}
.chatt:hover{
	background-color: rgb(13, 84, 84);
}